# Next.js build outputs
.next
.next-desktop
.cache
dist
out
tsconfig.tsbuildinfo

# Tauri/Rust build outputs
src-tauri/target

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
